<% if user_signed_in? %>
<div  id="friends">
	<table class="table table-hover table-bordered">
		<thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>
      <th scope="col">twitter</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
    
    <tr>
      <th scope="row">1</th>
      <td><%= link_to friend.first_name + " " + friend.last_name, friend %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td>

      <td><%= button_to "Destroy", friend, method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-outline-danger btn-sm" %></td>
      
    </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
</div>
<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>
<% else %>

<h1>Welcome!!!</h1>

<% end %>